$darkBlueDarkModeElements: hsl(209, 23%, 22%);
$veryDarkBlueDarkModeBackground: hsl(207, 26%, 17%);
$veryDarkBlueLightModeText: hsl(200, 15%, 8%);
$darkGrayLightModeInput: hsl(0, 0%, 52%);
$darkGrayLightModeInput2: hsla(0, 0%, 52%, 0.61);
$veryLightGrayLightModeBackground: hsl(0, 0%, 98%);
$whiteDarkModeTextAndLightModeElements: hsl(0, 0%, 100%);